.home{
    display: flex;
    background: url("img/banner.png")no-repeat center;
    height: 101px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}

.cer{
    font-family: 'Ubuntu', 'Prompt', sans-serif;
    background: gainsboro;
}





@media(max-width: 1104px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media(max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background:#111;
        text-align: center;
        padding: 80px;
        transition: all 0.3s ease;

    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 75px;

    }
    .home .home-content .text-3{
        font-size: 35px;
    }
}
@media(max-width: 690px){
    .max-width{
        padding: 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;

    }
    .home .home-content .text-3{
        font-size: 32px;
    }
}
@media(max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;

    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}